html,
body{
    margin: 0;
    padding: 0;
}
body{
    background: #FFF;
}
h1{
    color:rgb(186, 234, 248);
}
#header nav li a:hover{
    background: rgb(162, 216, 230);
    color: #FFF;
}
li{
    color:rgb(186, 234, 248);
}
li a {
   color: #FFF;
}
p {
 color: rgb(205, 255, 253);
}
nav{
    color: rgb(186, 234, 248);
}
html,
body{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(0, 0, 0);
    font-family: Tahoma;
}
.row{
    margin-left: auto;
    margin-right: auto;
    width: 10px;
}
/*
    Здесь идет оформление шапки
 */
#header{
    border-bottom: 5px solid rgb(180, 247, 238);
}
#header .row{
    align-items: stretch;
    display: flex;
}
#header .logotype{
    margin-right: 10px;
    overflow: hidden;
    width: 1500px;
    color: cornsilk;
}
#header .logotype img{
    width: auto;
    height: auto;
    max-width: 10%;
    max-height: 10%;
    vertical-align: bottom;
}
#header .brand{
    align-items: center;
    display: flex;
    font-size: 100px;
    font-weight: bold;
    margin-right: 30px;
    text-transform: uppercase;
}
#header ul{
    align-items: stretch;
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

#header nav li a{
    box-sizing: border-box;
    align-items: center;
    color: rgb(238, 238, 238);
    display: flex;
    height: 100%;
    padding: 5px 10px;
    text-decoration: none;
}
#header nav li a:hover{
    background: rgb(179, 237, 252);
    color: #FFF;
}
#header .social{
    margin-left: auto;
    margin-right: 20px;
}
#header .social li{
    align-items: center;
    display: flex;
    margin-left: 15px;
}
#header .social li a{
    color: rgb(186, 219, 235);
    font-size: 20px;
}

#header .link{
    margin-left: auto;
}
#header .link li{
    align-items: center;
    display: flex;
    margin-left: 10px;
}
#header .link a{
    color: rgb(168, 228, 243);
    text-decoration: none;
}
#header .link a:hover{
    color: rgba(182, 244, 248, 0.877);
}
hi{
    color: rgb(174, 233, 243);
    font-size: 38px;
    

}